body {
    background: #06283D;
    text-align: center;
}
#tb {
    margin: 0% 20% 5% 20%;
    background-color: #DFF6FF;
}
table, th, td {
    border: 2px solid #06283D;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
}
@media (max-width: 480px) { /*Phone*/
body{
    min-width: 480;
    width: 480;
}
#hid{
    display: none;
}
}
@media (max-height: 686px) and (max-width: 786px) {/*ipad*/
    #hid{
        display: none;
    }

}