* {
    font-family: 'Prompt';
}
h1{
text-align: center;
font-weight: bold;
font-size: 72px;
color: white;
}

.add{display: block;
margin-bottom: 50px;
justify-content: center;
background-color:white;
margin: 15vh 20% 20vh 20%;
padding: 5%;
border-radius: 10px;
/* text-align: center; */
}
body {
    margin: 0px auto 0px auto;
    background-color: #06283D;
}
.main{
margin: 130px 370px 193.8px;
position: static;
left: 0;
right: 0;
}