body {
    background: #06283D;
}
table, th, td {
    border: 2px solid #06283D;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
}
.reP {
    margin: 0px 20px 0px 20px;
    padding: 10px;
    background-color: #DFF6FF;
}
.bottonB {
    background-color: #1363DF; 
    border: none;
    color: white;
    margin: 10px 20px 10px 20px;
    padding: 10px 22px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
}
.bottonB:hover {
    background-color: #47B5FF; 
    border: none;
    color: black;
    margin: 10px 20px 10px 20px;
    padding: 10px 22px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
}
tr+tr{
    background-color: #f1f7ff; 
}
.action {
    background-color: #1363DF; 
    border: outset;
    color: black;
    padding: 2px 5px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
}
.action:hover {
    background-color: #47B5FF; 
    border: outset;
    color: black;
    padding: 2px 5px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
}
.action1 {
    background-color: #33cc33; 
    border: outset;
    color: black;
    padding: 2px 5px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
}
.action1:hover {
    background-color: #c2f0c2; 
    border: outset;
    color: black;
    padding: 2px 5px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
}
.action2 {
    background-color: #ffff00; 
    border: outset;
    color: black;
    padding: 2px 5px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
}
.action2:hover {
    background-color: #ffffcc; 
    border: outset;
    color: black;
    padding: 2px 5px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
}
.action3 {
    background-color: #ff0000; 
    border: outset;
    color: black;
    padding: 2px 5px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
}
.action3:hover {
    background-color: #ffb3b3; 
    border: outset;
    color: black;
    padding: 2px 5px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
}