body {
    background:#06283D;
    text-align: center;
}
.r1 {
    text-align: left;
    position: relative;
    margin: 0px 350px 10px 350px;
    padding: 1% 0% 3% 20%;
    background-color: #DFF6FF;
    line-height: 40px;
}
h1 {
    padding-top: 10px;
    margin: 10px 350px 0px 350px;
    background-color: #DFF6FF;
    
}
#submit {
    background-color: #1363DF; 
    border: outset;
    color: white;
    margin-top: 5px;
    padding: 2px 5px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
}
#submit:hover {
    background-color: #47B5FF; 
    border: outset;
    color: black;
    margin-top: 5px;
    padding: 2px 5px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
}
#bottonB {
    background-color: #1363DF; 
    border: none;
    color: white;
    margin: 0px 20px 70px 20px;
    padding: 10px 22px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
}
#bottonB:hover {
    background-color: #47B5FF; 
    border: none;
    color: black;
    margin: 0px 20px 70px 20px;
    padding: 10px 22px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
}

@media (max-width: 480px) {
    body{
        width: max-content;
        min-width: 480;
    }
    h1{
        
        font-size: 28px;
        width: max-content;
    }
    .r1{
        padding: 1% 0% 3% 10%;
    }
}

@media (max-height: 686px) and (max-width: 786px){
    body{
        width: max-content;
        min-width: 480;
    }
    h1{
        
        font-size: 30px;
        width: max-content;
    }
    .r1{
        padding: 1% 0% 3% 15%;
    }
}